@import "tailwindcss";


@theme {
  /* ============Font start=========== */
  --font-DMSans: "DM Sans", sans-serif;
  
  /* ============Font end=========== */


  
  /* ============ Color start =============== */
  --color-primary: #262626;
  --color-gray1: #F5F5F3;
  --color-gray2: #6D6D60;
  --color-gray3: #767676;
  --color-gray4: #D8D8D8;
  --color-gray5: #6D6D6D;

  /* ============ Color end =============== */


}